@import './base.css';

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.type-icon {
  width: 25px;
  aspect-ratio: 1;
}

.sprite {
  transform: translateY(-50%);
  position: absolute;
}

.sprite-3d {
  transform: translateY(-70%);
  position: absolute;
  width: 100px;
}